<%- include("partials/header"); %>
<h1>Compose</h1>
<form class = "" action="/compose" method = "post">
    <div>
<label>Title</label>
<input type="text" class = "form-control" name="composeTitle">
<label>Post</label>
<textarea name="postContent" class = "form-control" id="" cols="30" rows="10"></textarea>
</div>

<button type="submit" class="btn btn-primary">Compose</button>
 </form>

<%- include("partials/footer") %>